@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');
:root {
  --main-font: 'Roboto Slab', serif;
  --main-color: #224079;
  --slider-color: #525252;
}

body {
  background-color: var(--main-color);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  padding: 1.25rem;
  margin: 0 auto;
  width: 100%;
  max-width: 80rem;
  display: flex;
  justify-content: center;
}
.header {
  background-color: #ffffff;
  text-align: center;
  color: var(--main-color);
}
.container__main {
  margin-top: 3rem;
}
.slider {
  padding: 1.25rem;
  width: 100%;
  max-width: 100rem;
  border-radius: 1rem;
  background-color: var(--slider-color);
}
.slider-content {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.slider-content__top {
  border-radius: 1rem;
}
.slider-item {
  width: 100%;
}
.slider-item > img {
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
  border-radius: 1rem;
}
.discription {
  width: 61%;
  max-width: 25rem;
  display: flex;
  overflow: hidden;
  color: aliceblue;
}
.discription-item {
  min-width: 100%;
  line-height: 2rem;
  font-size: 1.2rem;
  background-color: var(--slider-color);
}
.controller {
  width: 30%;
  max-width: 12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.controller-item {
  border: 0.8rem solid transparent;
  cursor: pointer;
}
.radio {
  display: none;
}
label {
  height: 2rem;
  width: 2rem;
  min-width: 2rem;
  display: inline-block;
  border-radius: 50%;
  border: 0.7rem solid var(--slider-color);
  outline: 0.15rem solid #ffffff;
  outline-offset: -0.625rem;
  transition: 0.3s;
}
label:hover {
  background-color: #ffffff;
  transition: 0.3s;
  cursor: pointer;
}
#control_1:checked ~ .slider-content label:nth-of-type(1),
#control_2:checked ~ .slider-content label:nth-of-type(2),
#control_3:checked ~ .slider-content label:nth-of-type(3),
#control_4:checked ~ .slider-content label:nth-of-type(4) {
  background: #ffffff;
  transition: 0.3s;
}
#control_1:checked ~ .slider-content #slide_1,
#control_1:checked ~ .slider-content #discription_1 {
  transform: translateX(0%);
  transition: 0.3s;
}
#control_1:checked ~ .slider-content #slide_2,
#control_1:checked ~ .slider-content #discription_2 {
  transform: translateX(0%);
  color: var(--slider-color);
  transition: 0.3s;
}
#control_1:checked ~ .slider-content #slide_3,
#control_1:checked ~ .slider-content #discription_3 {
  transform: translateX(-100%);
  color: var(--slider-color);
  transition: 0.3s;
}
#control_1:checked ~ .slider-content #slide_4,
#control_1:checked ~ .slider-content #discription_4 {
  transform: translateX(-200%);
  color: var(--slider-color);
  transition: 0.3s;
}
#control_2:checked ~ .slider-content #slide_1,
#control_2:checked ~ .slider-content #discription_1,
#control_2:checked ~ .slider-content #slide_2,
#control_2:checked ~ .slider-content #discription_2,
#control_2:checked ~ .slider-content #slide_3,
#control_2:checked ~ .slider-content #discription_3 {
  transform: translateX(-100%);
  transition: 0.3s;
}
#control_2:checked ~ .slider-content #discription_3 {
  color: var(--slider-color);
}
#control_2:checked ~ .slider-content #slide_4,
#control_2:checked ~ .slider-content #discription_4 {
  transform: translateX(-200%);
  color: var(--slider-color);
  transition: 0.3s;
}
#control_3:checked ~ .slider-content #slide_1,
#control_3:checked ~ .slider-content #discription_1 {
  transform: translateX(-100%);
  transition: 0.3s;
}
#control_3:checked ~ .slider-content #slide_2,
#control_3:checked ~ .slider-content #discription_2,
#control_3:checked ~ .slider-content #slide_3,
#control_3:checked ~ .slider-content #discription_3,
#control_3:checked ~ .slider-content #slide_4,
#control_3:checked ~ .slider-content #discription_4 {
  transform: translateX(-200%);
  transition: 0.3s;
}
#control_3:checked ~ .slider-content #discription_4 {
  color: var(--slider-color);
}
#control_4:checked ~ .slider-content #slide_1,
#control_4:checked ~ .slider-content #discription_1 {
  transform: translateX(-100%);
  transition: 0.3s;
}
#control_4:checked ~ .slider-content #slide_2,
#control_4:checked ~ .slider-content #discription_2 {
  transform: translateX(-200%);
  transition: 0.3s;
}
#control_4:checked ~ .slider-content #slide_3,
#control_4:checked ~ .slider-content #discription_3,
#control_4:checked ~ .slider-content #slide_4,
#control_4:checked ~ .slider-content #discription_4 {
  transform: translateX(-300%);
  transition: 0.3s;
}
